@charset "utf-8";
/* CSS Document */
body
{
background-color:#000000;
}



p
{
font-family:"Times New Roman";
color:#00FF00;
}


button
{
font-family:"Times New Roman";
color:#00FF00;
background-color:#000000;
font-size:18px;
border:medium  #00FF00;
}	
h1
{
font-family:"Times New Roman";
font-size:20px;
color:#00FF00;
text-align: center;
/*margin: 0;
padding: 0 0 1em 0;*/
}
h2
{
font-family:"Times New Roman";
color:#00FF00;
text-align: center;
}
h5
{
font-family:"Times New Roman";
color:#00FF00;
text-align: center;
}
h6
{
font-family:"Times New Roman";
color:#00FF00;
}
#hidden
{
font-family: "Times New Roman";
text-align: center;
color: #000000;
}

#header ul {
	list-style: none;
	padding:0;
	margin:0;
}
li
{
font-family:"Times New Roman";
font-size:20px;
color:#00FF00;
}
#header li
{
font-family:"Times New Roman";
font-size:20px;
color:#00FF00;
float: left;
border: 1px solid;
border-bottom-width: 0;
margin: 0 0em 0 0;
}
#content {
	border: 1px solid;
	clear: both;
}

/*#header #selected {
	position: relative;
	top: 1px;
	background: white;
}*/